@model NyamNyamWebAPI.Models.Entities.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Creation time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDT)
        </dd>

        <dt>
            Appointment time
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointedDT)
        </dd>

        <dt>
            Appointed address
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointedAddress)
        </dd>

        <dt>
            Client full name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

    </dl>
</div>

<h2>Ordered dishes</h2>

<table class="table">
    <tr>
        <th>
            Servings number
        </th>
        <th>
            Date and time of start cooking
        </th>
        <th>
            Date and time of end cooking
        </th>
        <th>
            Dish name
        </th>
        <th>
            Appointed address
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderedDish)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServingsNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartCookingDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndCookingDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dish.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.AppointedAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "OrderedDishes", new { OrderId = Model.Id, DishId = item.DishId }, null) |
                @Html.ActionLink("Delete", "Delete", "OrderedDishes", new { OrderId = Model.Id, DishId = item.DishId }, null)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Add ordered dish", "Create", "OrderedDishes", new { OrderId = Model.Id }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
