@model IEnumerable<NyamNyamWebAPI.Models.Entities.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>

<p>
    @Html.ActionLink("Create a new order", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Creation time
        </th>
        <th>
            Appointment time
        </th>
        <th>
            Appointed address
        </th>
        <th>
            Client full name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointedDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointedAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
