@model NyamNyamWebAPI.Models.Entities.Dish

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Dish name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Base servings
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseServingsQuantity)
        </dd>

        <dt>
            Image
        </dt>

        <dd>
            <img src="~/Resources/@Html.DisplayFor(model => model.Image)"
                 class="dish-image dish-image--200px dish-image--round" />
        </dd>

        <dt>
            Internet recipe link
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.RecipeLink)">@Html.DisplayFor(model => model.RecipeLink)</a>
        </dd>

        <dt>
            Dish description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @((Model.FinalPriceInCents * 1.0 / 100).ToString("F2"))$
        </dd>

        <dt>
            Dish category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", null, null, new { href = Request.UrlReferrer })
</p>
