@model NyamNyamWebAPI.Models.DishCategoryViewModel

@{
    ViewBag.Title = "Dishes";
}

<h2>Dishes list</h2>

<p>Search dishes</p>
<form asp-controller="Dishes"
      asp-action="Index"
      method="get">
    <p>
        Dish Name: @Html.TextBox("NameSearchText")
        Dish Category: @Html.DropDownList("category", "All")
        Show only dishes with price from <input type="number"
                                                name="PriceFromText"
                                                step="any"
                                                value="@(Request.QueryString.Get("PriceFromText") == null ? ViewBag.MinPrice : Request.QueryString.Get("PriceFromText"))"
                                                min="@ViewBag.MinPrice" />$ to <input type="number" 
                                                                                      step="any"
                                                                                      name="PriceToText"
                                                                                      value="@(Request.QueryString.Get("PriceToText") == null ? ViewBag.MaxPrice : Request.QueryString.Get("PriceToText"))"
                                                                                      max="@ViewBag.MaxPrice" />$
        <input type="submit"
               value="Filter" />
    </p>
</form>
<table class="table">
    <tr>
        <th>
            Dish name
        </th>
        <th>
            Servings
        </th>
        <th>
            Dish image
        </th>
        <th>
            Internet recipe link
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Dishes)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseServingsQuantity)
            </td>
            <td>
                <img src="~/Resources/@Html.DisplayFor(modelItem => item.Image)"
                     class="dish-image dish-image--200px dish-image--round" />
            </td>
            <td>
                <a href="@Html.DisplayFor(modelItem => item.RecipeLink)">@Html.DisplayFor(modelItem => item.RecipeLink)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @((item.FinalPriceInCents * 1.0 / 100).ToString("F2"))$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }

</table>
